body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

h1 {
    background: #9999cc;
    border-bottom: 1px solid #000;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 1.00em;
}

h2 {
    font-size: 16px;
    padding: 1.00em;
    padding-bottom: 0;
}

ol.toc {
    background: #666699;
    color: #fff;
    margin: 0;
    padding: 0.25em;
}

ol.toc li {
    display: inline;
    list-style: none;
}

ol.toc li:after {
    color: #9999cc;
    content: ' | ';
}

ol.toc li a {
    color: #fff;
    text-decoration: none;
}

p.footer {
    background: #666699;
    color: #fff;
    margin-bottom: 0;
    padding: 0.25em 1.00em;
    text-align: right;
}

p.footer a {
    color: #fff;
}

p.contents {
    text-align: right;
}